/*
http://www.colourlovers.com/palette/2026255/Tumblr
hed font-family: 'Oswald', sans-serif;
body font-family: 'Open Sans', sans-serif;
*/

.align_center {
	text-align: center;
}
#banner {
	background: #24AAAB;
	padding: 7px 0px;
}
body {
	margin: 0px;
	padding: 0px;
	background: #ebebeb;
}
#categories_table {
	margin: 14px 0px;
	padding: 14px 0px 0px 0px;
	border-top: solid thin rgba(0,0,0,0.1);
}
#categories_table table {
	width: 500px;
	border-collapse: collapse;
}
#categories_table table th, #categories_table table td {
	padding: 7px;
}
#categories_table table thead {}
#categories_table table thead tr {
	background: black;
}
#categories_table table thead tr th {
	color: white;
}
#categories_table table tbody {}
#categories_table table tbody tr {}
#categories_table table tbody tr.section_name {
	font-weight: bold;
}
#categories_table table tbody tr td {
	border: solid thin rgba(0,0,0,0.1);
}
#categories_table table tbody tr.body td {
}
#categories_table table tbody tr.body.section_name td {
	font-weight: bold;
}
#categories_table table tbody tr.body:hover {
	background: #ededed!important;
}
#categories_table table tbody tr.subhead td {
	font-size: 18px;
	line-height: 27px;
}
#categories_table table tbody tr.subhead.what_to_know {
	background: #F6693A;
	color: white;
}
#categories_table table tbody tr.body.what_to_know {
	background: rgba(246,105,58,0.1);
}
#categories_table table tbody tr.subhead.what_to_do {
	background: #603765;
	color: white;
}
#categories_table table tbody tr.body.what_to_do {
	background: rgba(96,55,101,0.1);
}
#categories_table table tbody tr.subhead.what_to_love {
	background: #20ABAB;
	color: white;
}
#categories_table table tbody tr.body.what_to_love {
	background: rgba(32,171,171,0.1);
}
#container {
	width: 70%;
	min-width: 1000px;
	margin: 21px auto;
}
#dashboard {
	margin: 21px 0px;
}
#dashboard .dashboard_block {
	display: inline-block;
	width: 49%;
	box-sizing: border-box;
	padding: 21px;
	background: rgba(91,190,133,1.0);
	color: white;
	margin: 0px 0px 7px 0px;
}
#dashboard .dashboard_block table {
	width: 100%;
	border-collapse: collapse;
}
#dashboard .dashboard_block table tr {
	border-bottom: solid thin rgba(255,255,255,0.5);
}
#dashboard .dashboard_block table tr:hover {
	background: #ebebeb;
}
#dashboard .dashboard_block table tr:hover td {
	color: black;
}
#dashboard .dashboard_block table td {
	padding: 7px;
	font: 14px 'Open Sans', sans-serif;
}
#dashboard .dashboard_block table .title_cell {
	width: 70%;
}
#date_search_checkboxes {
	display: inline-block;
}
#date_search_checkboxes input, #date_search_checkboxes label {
	width: auto!important;
	vertical-align: middle;
}
#date_search_checkboxes input {
	margin: 0px 0px 0px 7px;
}
#date_search_checkboxes label {
	font: 12px Open Sans, 'sans-serif';
	line-height: 18px;
}
#date_search_menu h4 {
	display: inline-block;
}
h1,h2,h3,h4,h5,h6,th {
	font-family: 'Oswald', sans-serif;
}
p,li,td,input,select {
	font: 14px 'Open Sans', sans-serif;
}
#search_menus {
	margin: 21px 0px;
}
#search_menus .search_menu {
	display: inline-block;
	background: #E99D39;
	box-sizing: border-box;
	padding: 21px;
	width: 40%;
	vertical-align: top;
	height: 240px;
}
#search_menus .search_menu .search_input_container {
	display: block;
	margin: 7px 0px;
	width: 100%;
}
#search_menus select, #search_menus input {
	width: 100%;
	border: solid thin rgba(0,0,0,0.3);
	padding: 4px 7px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-sizing: border-box;
}
#search_menus input[type="button"] {
	width: 50%;
	padding: 7px;
	display: block;
	margin: 14px auto;
	border: none;
	background: #61A2D4;
	font: bold 16px 'Open Sans', sans-serif;
	color: white;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	transition: 700ms;
	-moz-transition: 700ms;
	-webkit-transition: 700ms;
}
#search_menus input[type="button"]:hover {
	cursor: pointer;
	background: #D15F46;
}
#search_result {

}
#search_result .search_result_block {
	margin: 0px 0px 14px 0px;
	padding: 0px 0px 14px 0px;
	border-bottom: solid thin rgba(0,0,0,0.2);
}
#search_result h3 {
	color: #D15F46;
}
#search_result table {
	width: 100%;
	border-collapse: collapse;
}
#search_result table thead {
	background: #61A2D4;
}
#search_result table thead th {
	color: white;
	font: 16px 'Oswald', sans-serif;
}
#search_result tbody tr:nth-child(even) {
	background: rgba(0,0,0,0.1);
}
#search_result th, #search_result td {
	padding: 7px;
}
#search_result td {
	font: 14px 'Open Sans', sans-serif;
	padding: 14px 7px;
}
#search_result table tbody tr td:nth-child(1) { width: 30%; }
#search_result table tbody tr td:nth-child(2) { width: 20%; }
#search_result table tbody tr td:nth-child(3) { width: 20%; }
#search_result table tbody tr td:nth-child(4) { width: 15%; }
#search_result table tbody tr td:nth-child(5) { width: 15%; }
#upcoming_stories {
	margin: 21px 0px;
	padding: 7px 0px 0px 0px;
	border-top: solid thin rgba(0,0,0,0.2);
}
#upcoming_stories h3 {}
#upcoming_stories h3 span {
	border: solid thin #61A2D4;
	padding: 4px 14px;
	border-radius: 7px;
}
#upcoming_stories h3 span:hover {
	cursor: pointer;
}
#upcoming_stories h3 span.active {
	background: #61A2D4;
	color: white;
}
#upcoming_stories table {
	width: 100%;
	border-collapse: collapse;
}
#upcoming_stories table thead {
	background: #61A2D4;
}
#upcoming_stories table thead th {
	color: white;
	font: 16px 'Oswald', sans-serif;
}
#upcoming_stories tbody tr:nth-child(even) {
	background: rgba(0,0,0,0.1);
}
#upcoming_stories th, #upcoming_stories td {
	padding: 7px;
}
#upcoming_stories td {
	font: 14px 'Open Sans', sans-serif;
	padding: 14px 7px;
}